
:root {
    --button-blue: #243E92;
}

@media screen and (min-width: 320px) {
    html, #app {
        background-color: rgb(212, 211, 211);
        margin: 0;
        width: 100vw;
        height: 100vh;
    }
}


